# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  LinterFormat:
    runs-on: ubuntu-latest
    steps:

    - name: download code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Check gofmt
      run: |
         if [ -n "$(gofmt -l .)" ]; then
           echo "Go files are not formatted. Run 'gofmt -w .' to fix them."
           exit 1
         fi

    - name: Run Linter
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest    
